@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Poppins-Light'), local('Poppins'),
    url('/fonts/Poppins-Light.woff2') format('woff2'),
    url('/fonts/Poppins-Light.woff') format('woff'),
    url('/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: 300;
  src: local('Arial');
  ascent-override: 93.76%;
  descent-override: 31.25%;
  line-gap-override: 8.93%;
  size-adjust: 111.99%;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins-Regular'), local('Poppins'),
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format('woff'),
    url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 92.83%;
  descent-override: 30.94%;
  line-gap-override: 8.84%;
  size-adjust: 113.11%;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Poppins-Bold'), local('Poppins'),
    url('/fonts/Poppins-Bold.woff2') format('woff2'),
    url('/fonts/Poppins-Bold.woff') format('woff'),
    url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 97.12%;
  descent-override: 32.37%;
  line-gap-override: 9.25%;
  size-adjust: 108.12%;
}