:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #7db800;
  --color-secondary: #a2a2a2;
  --color-dark: #212121;
  --color-medium: #828282;
  --color-hurricane: #878787;
  --color-nobel: #b5b5b5;
  --color-light: #e0e0e0;
  --color-danger: #e46d6d;
  --color-stars: #ff9900;
  --color-product-background: #f2f2f2;
  --color-newsletter-background: #ebefe5;
  --color-social-icons: #bbbbbb;

  --font-size-xxl: 40px;
  --font-size-xl: 36px;
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;
  --font-size-xxxs: 11px;

}