@use 'sass-mq/_mq';
@import '/src/styles/use';

.sidemenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .5rem;
  color: var(--color-medium);

  @include mq.mq($from: tablet) {
    color: var(--color-white);
    margin-right: 0;
  }

  &__link {

    @include themeDark {
      color: var(--color-white)
    }

    @include themeLight {
      color: var(--color-medium);
    }

    padding: 0.5rem;
    display: inline-flex;

    &:is(:hover, :focus-visible) {
      transform: scale(1.4);
      color: var(--color-primary);
    }
  }

  &__currency-selector,
  &__language-selector,
  &__theme-selector {
    display: none;

    @include mq.mq($from: tablet) {
      display: block;
    }
  }

  &__profile,
  &__heart {
    display: none;

    @include mq.mq($from: tablet) {
      display: inline-flex;
    }
  }

  &__search {
    @include mq.mq($from: tablet) {
      display: none;
    }
  }
}