@use 'sass-mq/_mq';
.social-links {
  display: flex;
  color: var(--color-social-icons);
  &__text {
    display: none;
    margin-right: 2.25rem;
    @include mq.mq($from: tablet) {
      display: block;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    max-width: 7.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list-item {
    display: block;
  }
}
