@use 'sass-mq/_mq';
@import '/src/styles/use';

.social-links {
  display: flex;

  &--vertical .social-links__text {
    display: none;
  }

  &--vertical .social-links__list {
    display: none;

    @include mq.mq($from: tablet) {
      display: flex;
      flex-direction: column;
    }
  }

  &__text {
    color: var(--color-white);
    display: none;
    margin-right: 2.25rem;

    @include mq.mq($from: tablet) {
      display: block;
    }

    @include themeDark {
      color: var(--color-white);
    }

    @include themeLight {
      color: var(--color-dark)
    }
  }

  &__list {
    color: var(--color-social-icons);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list-item {
    display: block;
  }
}