@use 'sass-mq/_mq';

.payment {
  margin-bottom: 3rem;

  &__title {
    font-size: var(--font-size-m);
    color: var(--color-filter-text);
    font-weight: 400;

    @include mq.mq($from: tablet) {
      font-weight: 600;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    line-height: 1.8;

  }

  &__info {
    font-size: var(--font-size-xs);
    color: var(--color-filter-text);
  }

  &__edit-button {
    width: 5rem;
    background-color: var(--color-light);
    color: var(--color-dark);
    border: none;
  }
}