@use 'sass-mq/_mq';
@import '/src/styles/use';

.sidemenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: .5rem;
  color: var(--color-medium);
  height: 3.5rem;

  @include mq.mq($from: tablet) {
    height: auto;
    color: var(--color-white);
    margin-right: 0;
    flex-wrap: wrap;
    max-width: 80%;
    justify-self: end;
  }

  @include mq.mq($from: desktop) {
    max-width: 100%;
  }

  &__link {

    @include themeDark {
      color: var(--color-white)
    }

    @include themeLight {
      color: var(--color-medium);
    }

    padding: 0.5rem;
    display: inline-flex;

    &:is(:hover, :focus-visible) {
      transform: scale(1.4);
      color: var(--color-primary);
    }
  }

  &__currency-selector,
  &__language-selector,
  &__theme-selector {
    display: none;

    @include mq.mq($from: tablet) {
      display: block;
      min-width: 5.5rem;
      max-width: 6.5rem;
    }
  }

  &__currency-selector,
  &__theme-selector {
    min-width: 3.5rem;
    max-width: 4rem;
  }

  &__profile,
  &__heart {
    display: none;

    @include mq.mq($from: tablet) {
      display: inline-flex;
    }
  }

  &__search {
    @include mq.mq($from: tablet) {
      display: none;
    }

    @include themeDark {
      color: var(--color-white);
    }
  }

  &__cart[data-count] {
    position: relative;

    &::after {
      position: absolute;
      right: 0;
      top: 0;
      content: attr(data-count);
      font-size: 0.6rem;
      padding: .3em;
      border-radius: 50%;
      color: var(--color-white);
      background: var(--color-primary);
      justify-content: center;
      display: flex;
      align-items: center;
      width: 1rem;
      height: 1rem;
    }
  }
}