@use 'sass-mq/_mq';
@import '/src/styles/use';

.policy-links-list {
  width: 15.8125rem;
  height: 1.3125rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;



  @include mq.mq($from: tablet) {
    width: 18.125rem;
    height: 1.5rem;
  }

  li {
    a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: var(--font-size-xs);
      line-height: 1.5;
      font-weight: 400;

      @include mq.mq($from: tablet) {
        font-weight: 400;
        font-size: var(--font-size-s);
        line-height: 1.5;
      }

      &:is(:hover, :focus-visible) {
        color: var(--color-primary);
        text-decoration: underline 1px;
      }

      @include themeDark {
        color: var(--color-white);
      }

      @include themeLight {
        color: var(--color-dark)
      }
    }
  }
}