@use 'sass-mq/_mq';

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--color-form-background);

  @include mq.mq($from: tablet) {
    background-color: var(--color-white);
    padding: 3rem;
  }
}

.title {

  color: var(--color-filter-text);
  font-size: var(--font-size-xs);
  font-weight: 600;
  line-height: 1.5;
  display: block;
  margin-bottom: 0.5rem;

  @include mq.mq($from: tablet) {
    color: var(--color-dark);
    font-size: var(--font-size-m);
    margin-bottom: 2rem;
  }
}

.button {
  margin: 4rem 0;

  @include mq.mq($until: tablet) {
    width: 100%;
    margin: 2rem 0;
  }
}