.toggle {
  &__button {
    padding: 0.25rem 0.75rem;
    border-radius: 4rem;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3rem;
  }
}