@use 'sass-mq/_mq';
@import "/src/styles/utils/_theme.scss";

.header {
  width: 100%;
  max-height: 7.5rem;
  background-color: var(--color-white);
  font-weight: 300;
  transition: all 0.5s;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
  position: relative;

  @include themeDark {
    background-color: var(--color-dark);
    color: var(--color-white);
  }

  @include themeLight {
    background-color: var(--color-white);
    color: var(--color-dark);
  }

  @include mq.mq($from: tablet) {
    max-height: none;
    height: auto;
    padding-top: 1rem;
  }

  &__container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    @include mq.mq($from: tablet) {
      grid-template-columns: 2fr 1fr 2fr;
      padding: 0;
    }
  }

  &__menu-button {
    align-self: center;

    @include mq.mq($from: tablet) {
      display: none;
    }
  }

  &__search {
    width: 100%;
    display: none;
    grid-row-start: 1;
    grid-column: span 1;
    justify-self: left;
    transition: all 0.5s;

    @include mq.mq($from: tablet) {
      display: block;
    }

    @include themeDark {
      background-color: var(--color-dark);
    }

    @include themeLight {
      background-color: var(--color-white);
    }
  }

  &__mobile-search {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100dvw;
    background-color: white;
    z-index: 9;

    @include mq.mq($from: desktop) {
      display: none;
    }
  }
}