@import "/src/styles/use";

.select {
  &__container {
    min-width: 6.25rem;
  }

  &__header {
    min-width: 3.25rem;
    font-weight: 300;
    border: none;
    font-size: 0.875rem;
    max-width: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 1.375rem;
    padding: 0.25rem 0;
    border-top: solid 4px transparent;
    border-bottom: solid 4px transparent;
    transition: border 0.15s,
      color 0.15s;

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
      border-bottom: solid 4px var(--color-primary);
    }

    @include themeDark {
      color: var(--color-white);
      background-color: var(--color-dark)
    }

    @include themeLight {
      color: var(--color-black);
      background-color: var(--color-white)
    }

    &--open {
      color: var(--color-primary);
      border-bottom: solid 4px var(--color-primary);
    }
  }

  &__list {
    padding-left: 0.25rem;
    margin: 0;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding-top: 0.8rem;
    list-style-type: none;
    text-align: left;

    @include themeDark {
      color: var(--color-white);
    }

    @include themeLight {
      color: var(--color-black);
    }

    &--open {
      max-height: 10rem;
    }

    box-sizing: border-box;
  }

  &__listItem {
    list-style: none;
    margin-bottom: 0.2em;
    font-weight: 300;
    font-size: 0.875rem;
    border: none;
    padding: 0;

    @include themeDark {
      background-color: var(--color-dark);
    }

    @include themeLight {
      background-color: var(--color-white);
    }

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }

  &__iconStyle {
    margin-left: 0.5rem;
    transition: transform 0.4s ease;

    path {
      @include themeLight {
        stroke: var(--color-black);
      }
    }
  }

  &--rotateIconUp {
    transform: rotateX(-180deg);
  }
}