@use 'sass-mq/_mq';
@import '/src/styles/use';

.accordion {
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-secondary);
    font-size: var(--font-size-xs);
    font-weight: 500;
    height: 3.125rem;

    .accordion .accordion & {
      padding-left: 1rem;
    }

    @include themeDark {
      color: var(--color-white)
    }

    @include themeLight {
      color: var(--color-dark)
    }

    & .accordion__button svg {
      transition: transform .3s ease;
    }

    &--open {

      & .accordion__link,
      .accordion__name {
        color: var(--color-primary);
      }

      & .accordion__button svg {
        transform: rotate(180deg)
      }
    }
  }

  &__link,
  &__name {
    display: block;
    padding: 0 1.25rem;
    color: currentColor;
    text-decoration: none;
  }

  &__button {
    padding: 1rem;
  }

  &--filter {
    .accordion__name {
      padding: 0 1.25rem;

      @include mq.mq($from: tablet) {
        padding: 0 0.625rem;
      }
    }

    .accordion__header {
      font-size: var(--font-size-m);

      @include themeDark {
        color: var(--color-white);
      }

      @include themeLight {
        color: var(--color-dark);
      }

      @include mq.mq($from: tablet) {
        font-size: var(--font-size-s);

        @include themeDark {
          color: var(--color-filter-text);
        }

        @include themeLight {
          color: var(--color-filter-text);
        }
      }

    }
  }

  &--productInfo {
    .accordion__header {
      background-color: var(--bg-product-details-title);

      @include themeDark {
        color: var(--color-dark);
      }

      @include themeLight {
        color: var(--color-dark);
      }
    }

    & .accordion__header--open .accordion__name {
      @include mq.mq($until: tablet) {

        color: var(--color-dark);
      }
    }

    .accordion__name {
      font-size: var(--font-size-m);
      font-weight: 600;

      @include mq.mq($until: tablet) {
        color: var(--color-medium);
        font-size: var(--font-size-xs);
      }
    }
  }

  &--discount {
    .accordion__header {
      @include themeDark {
        color: var(--color-dark);
      }

      @include themeLight {
        color: var(--color-dark);
      }

      border-bottom: none;
      padding: 0;
      justify-content: flex-start;
    }

    .main-input {
      width: 100px;
    }

    .accordion__header--open .accordion__name,
    .accordion__header .accordion__name {
      padding: 0;
    }
  }
}