@use 'sass-mq/_mq';

.main-container {
  padding: 1rem 0 2rem;

  @include mq.mq($from: tablet) {
    padding: 0 0 4rem;
  }
}

.search-result {
  &__container {
    display: flex;
  }
}

.filter-open-button {
  font-size: var(--font-size-xxs);
  padding: .25rem 0.5rem;

  @include mq.mq($from: tablet) {
    display: none;
  }
}