@use 'sass-mq/_mq';
@import '/src/styles/use';

.summary {
  &__container {
    background-color: var(--bg-product-details-title);
    padding: 0.75rem;
    margin-bottom: 2rem;
    width: 100%;
    box-sizing: border-box;

    @include mq.mq($from: tablet) {
      margin-bottom: 3rem;
    }

    @include mq.mq($from: desktop) {
      max-width: 20rem;
      padding: 2rem;
    }
  }

  &__title {
    border-bottom: 1px solid var(--color-summary-heading-border);
    padding-bottom: 0.75rem;
    font-weight: 600;
    font-size: var(--font-size-m);
  }

  &__inputsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  &__input {
    border: 1px solid var(--color-secondary);
    padding: 0.5rem 0.75rem;
  }

  &__accordionItem {
    border-bottom: none;
    padding: 0;
    justify-content: flex-start;
    color: var(--color-medium);
    border-bottom: none;
  }

  &__selectCountry {
    display: flex;
    margin: 1rem 0 1rem 0;
  }

  &__selectButton {
    max-width: none;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--color-secondary);
  }

  &__countriesList {
    overflow: auto;
    padding-left: 0;
  }

  &__link {
    font-size: var(--font-size-xs);
    text-decoration: underline;
    padding-bottom: 0.25rem;
    text-align: center;
    border-bottom: none;

    &:hover {
      text-decoration: none;
    }

    @include themeDark {
      color: var(--color-medium)
    }

    @include themeLight {
      color: var(--color-medium)
    }
  }

  &__form {
    border-bottom: 1px solid var(--color-summary-heading-border);
    padding-bottom: 1rem;
  }

  &__shipping-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    color: var(--color-dark);
    font-size: var(--font-size-xs);

    & span:first-child {
      margin-right: 1rem;
    }
  }
}