@use 'sass-mq/_mq';

.button {
  display: none;

  @include mq.mq($from: tablet) {
    display: block;
    padding: 0.3125rem;
    border: 3px solid var(--color-white);
  }

  &--active {
    border: 3px solid var(--color-primary);
  }

  &:is(:hover, :focus-visible) {
    background-color: var(--color-white);

    .image {
      transform: scale(1.1);
    }
  }
}

.image {
  width: 100%;
  height: auto;
}