@use 'sass-mq/_mq';
@import "/src/styles/utils/_theme.scss";

.header {
  width: 100%;
  max-height: 3.5rem;
  background-color: var(--color-white);
  font-weight: 300;
  transition: max-height 0.3s;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
  box-sizing: border-box;


  @include themeDark {
    background-color: var(--color-dark);
    color: var(--color-white);
  }

  @include themeLight {
    background-color: var(--color-white);
    color: var(--color-dark);
  }

  @include mq.mq($from: tablet) {
    max-height: none;

    @include themeDark {
      background-color: var(--color-dark);
      color: var(--color-white);
    }

    @include themeLight {
      background-color: var(--color-white);
      color: var(--color-dark);
    }

    padding-top: 1.5rem;
  }

  &__container {
    display: grid;
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 2fr 1fr 2fr;
  }

  &--search-visible {
    & .header__search {
      max-height: 2.75rem;
    }

    @include mq.mq($from: tablet) {
      max-height: none;
    }

    max-height: 7rem;
  }

  &__menu {
    display: none;

    @include mq.mq($from: tablet) {
      display: block;
      justify-self: center;
      grid-column: span 3;
    }
  }

  &__menu-button {
    align-self: center;

    @include mq.mq($from: tablet) {
      display: none;
    }
  }

  &__search {
    max-height: 0rem;
    padding: 0 0.5rem;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.3s;
    grid-row-start: 2;
    grid-column: span 3;

    @include mq.mq($from: tablet) {
      width: 100%;
      overflow: visible;
      max-height: none;
      display: block;
      grid-row-start: 1;
      grid-column: span 1;
      justify-self: left;
    }
  }
}