@import "/src/styles/use";

.select {
  &__container {
    position: relative;
    transition: all 0.5s;

    @include themeDark {
      color: var(--color-white);
      background-color: var(--color-dark)
    }

    @include themeLight {
      color: var(--color-black);
      background-color: var(--color-white)
    }
  }

  &__header {
    font-weight: 300;
    border: none;
    font-size: var(--font-size-xs);
    max-width: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    border-top: solid 2px transparent;
    border-bottom: solid 2px transparent;
    transition: border 0.15s,
      color 0.15s;
    background-color: inherit;
    color: inherit;

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
      border-bottom: solid 2px var(--color-primary);
    }

    &--open {
      color: var(--color-primary);
      border-bottom: solid 2px var(--color-primary);
    }
  }

  &__list {
    z-index: 99;
    padding-left: 0.25rem;
    margin: 0;
    position: absolute;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    list-style-type: none;
    text-align: left;
    width: 100%;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--open {
      max-height: 10rem;
    }

    li:first-child {
      margin-top: 0.8rem;
    }
  }



  &__listItem {
    list-style: none;
    margin-bottom: 0.2em;
    font-weight: 300;
    font-size: 0.875rem;
    border: none;
    padding: 0;
    background-color: inherit;
    color: inherit;
    padding-bottom: 0.25rem;

    &:hover {
      cursor: pointer;
      color: var(--color-primary);
    }
  }

  &__iconStyle {
    margin-left: 0.5rem;
    transition: transform 0.4s ease;
  }

  &--rotateIconUp {
    transform: rotateX(-180deg);
  }

  &__label {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-xs);
  }
}