@use 'sass-mq/_mq';
@import 'src/styles/use.scss';

.copyright {
  &__wrapper {
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: var(--font-size-xxxs);
    width: fit-content;

    @include mq.mq($from: tablet) {
      font-size: var(--font-size-xs);
    }

    @include themeDark {
      color: var(--color-medium);
    }

    @include themeLight {
      color: var(--color-dark)
    }
  }
}