@import "/src/styles/utils/_theme.scss";

.copyright {
  &__wrapper {
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: var(--font-size-xs);
    width: -moz-fit-content;
    width: fit-content;

    @include themeDark {
      color: var(--color-medium);
    }

    @include themeLight {
      color: var(--color-dark)
    }
  }
}