@use 'sass-mq/_mq';
@import '/src/styles/use';

.menu {
  display: flex;
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem 0;

  &__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    & li {
      position: relative
    }

    & li:last-child .menu__child-wrapper {
      right: 0;

      @include mq.mq($from: wide) {
        left: 0;
        right: unset;
      }
    }
  }

  &__link-wrapper {
    &:is(:hover, :focus-visible) .menu__child-wrapper {
      max-height: 600px;
      padding: 0.5rem;
    }
  }

  &__category-name {
    font-size: var(--font-size-s);
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-bottom: 2px solid transparent;
    font-size: var(--font-size-m);
    display: block;
  }

  &__child-wrapper {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    display: flex;
    position: absolute;
    flex-direction: column;
    box-sizing: content-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    z-index: 20;

    @include themeDark {
      background-color: var(--color-dark);
      box-shadow: 0 1px 3px rgba(255, 255, 255, 0.25);
      color: var(--color-white);
    }

    &:has(.menu__grandchild-wrapper) {
      flex-direction: row;
    }
  }

  &__grandchild-wrapper {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 12.5rem;
    min-width: 9.375rem;

    & li {
      display: inline-flex;
    }
  }

  .menu__link:has(+.menu__child-wrapper:hover) {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
  }
}