@use 'sass-mq/_mq';

.createAccountBanner {
  &__container {
    @include mq.mq($from: tablet) {
      display: flex;
      flex-direction: column;
      width: 50%;
    }

    @include mq.mq($until: tablet) {
      text-align: center;
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__description {
    color: var(--color-medium);
  }
}